<section class="admin-dashboard">

  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="stats">
    <div class="stat">
      <h2>Total Products : </h2>
      <p><%= @product_count %></p>
    </div>
    <div class="stat">
      <h2>Total Categories : </h2>
      <p><%= @category_count %></p>
    </div>
  </div>


</section>